games.json
__pycache__
*:Zone.Identifier
*mshield
config.json
errors.log
venv/

# Build artifacts
build/
*.exe
*.pyd
*.dll

# Nuitka specific
*.nuitka-crash-report.xml

# Release packages
*.zip